/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */

@import url(/css/utilities.css);

:root{
    --primary-color: #047aed;
    --bodytext-color: #0A1F42;
    --gradient-color: #0C71B6;
    --button-color: #0F8FE6;
    --buttonhover-color: #28A0F1;
    --buttonhover-state: #58B5F4;
    --pattern-color: #87CAF7;
    --pattern2-color: #B7DFFA;
    --background-color: #E7F4FD;
    --background2-color: #F1F9FE;
    --secondarybodytext-color: #163300;
    --congratsmessage-color: #80E142;
    --error-color: #FF0000;
    --whitebg-color: #FFFFFF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: bold;
} 

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
    color: var(--bodytext-color);
}

a{
    text-decoration: none;
    color: #333;
}


h1, 
h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px, 0;
}

p{
    margin: 10px, 0;
}

img{
    width: 100%;
}

code,
pre{
    background-color: #333;
    color: #fff;
    padding: 10px;
}
/* Navbar */
.navbar{
    margin-top: 10px;
    background-color: var(--background-color);
    color: var(--bodytext-color);
    height: 50px;
}

.navbar ul{
    display: flex;
}

.nav ul li a{
    color: var(--bodytext-color);
    padding: 10px;
    font-weight: 500;
    margin: 0 5px;
}

.nav ul li a:hover{
    border-bottom: 2px var(--primary-color);
    color: rgb(7, 75, 102);

}

.navbar .flex{
    justify-content: space-between;
}

/* Languages */
.languages .flex{
    flex-wrap: wrap;
}

.languages .card{
    text-align: center;
    margin: 10px 10px 40px 40px;
    transition: transform 0.2s ease;
}

.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;

}

.languages .card:hover{
    transform: translateY(-15px);
}


.feature_card_top{
    -webkit-animation: slideInFromTop 0.6s;
}

.feature_card_bottom {
    -webkit-animation: slideInFromBottom 0.6s;
}

/* Animations */
@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromRight{
    0%{
        transform: translateX(100);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromTop{
    0%{
        transform: translateY(-100);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom{
    0%{
        transform: translateY(100);
    };
    100%{
        transform: translateY(0);
    };
}

/* Mobile */
@media (max-width:500px){
    .navbar{
        height: 50px;
    }

    .navbar .flex{
        flex-direction: row;
    }

    .navbar ul{
       display: none;
    }

    .nav .btn {
        text-decoration: underline;
        background-color: var(--background2-color);
        color: #047aed;
    }

    .ellipses{
        display: none;
    }

    form input{
        display: none;
    }

    form button {
        display: flex;
        width: 70vw;
        height: 50px;
        color: white;
        text-decoration: none;
    }
}
